*{
  box-sizing: border-box;
}
body{
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}
.contenier{
  max-width: 1600px;
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;
}
.novigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1120px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 130px;
}
.novigatoin-link{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  margin: 0px;
  margin-right: auto;
}
.link-heder-about{
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #212353;
  margin-left: 121px;
  margin-right: 40px;
}
.link-heder{
  text-decoration: none;
  margin-right: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #4B5D68;
}
.link-demo{
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  line-height: 26px;
  width: 210px;
  background-color: #ffffff;
  color: #212353;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 2px 2px 6px #4B5D68;
}
.link-demo img{
  width: 20px;
  margin-left: 20px;
}
.second{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.second-h{
  font-weight: bold;
  font-size: 80px;
  line-height: 88px;
  color: #212353;
  width: 645px;
}
.second-p{
  width: 380px;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4B5D68;
}
.second-link{
  text-decoration: none;
  padding: 10px;
  width: 170px;
  background: #9C69E2;
  color: #ffffff;
  border-radius: 50px;
}
.second-img{
  margin-left: 0px;
}
.third{
  display: flex;
  align-items: center;
  width: 1200px;
  height: 560;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}
.third-img{
  width: 477px;
  height: 507px;
}
.third-list{
  display: flex;
  flex-wrap: wrap;
  width: 475px;
  margin-left: auto;
}
.third-h{
  width: 475px;
  height: 100px;
  margin-right: 92px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #212353;
}
.third-p{
  width: 474px;
  height: 174px;
  margin-right: 93px;
  margin-bottom: 125;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4B5D68;
}
.fourth{
  text-align: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.fourth-h{
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #212353;
  margin-bottom: 50px;
}
.fourth-p{
  font-style: 500;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4B5D68;
  width: 584px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}
.fourth-list{
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.fourth-list-type{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: start;
  width: 550px;
  margin-bottom: 50px;
  margin-right: 42px;
  background-color: #68C9BA;
  border-radius:60% 10% 10% 10% / 60% 10% 10% 10% ;
  transition: background-color 0.3s ease ;
}
.fourth-div{
  margin-bottom: 50px;
  margin-left: 30px;
  padding: 10px;
}
.fourth-div a{
  text-decoration: none;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  color: #212353;
}
.fourth-list-type:hover{
  background-color: #F063B8;
  width: 550px;
  transform: rotate(-3deg);
  transition: transform 1s ease;
}
.fifth{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1578px;
}
.fivth-list{
  display: flex;
  flex-wrap: wrap;
  width: 1118px;
  height: 709px;
  margin-right: auto;
  margin-left: auto;
  background: #9C69E2;
  border-radius: 50px;
  margin-bottom: 141px;
}
.fifth-h{
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #FFFFFF;
  margin-top: 95px;
  margin-right: 620px;
  margin-bottom: 80px;
  margin-left: 93px;
}
.testimonials{
  display: flex;
  /* flex-wrap: wrap; */
  width: 1445px;
  margin: 0px;
}
.john-list{
  display: flex;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  width: 645px;
  height: 330px;
  margin-right: 20px;
  margin-bottom: 60px;
  margin-left: 93px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow:#945be4 0px 20px 0px;
  padding: 30px;
}
.john{
  width: 385px;
  margin-right: 70px;
  margin-bottom: 50px;
  margin-left: 30px;
}
.john h3{
  width: 170px;
  font-weight: 900;
  font-size: 18px;
  line-height: 29px;
  color: #212353;
}
.john-web{
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #9C69E2;
  margin-bottom: 19px;
}
.john p{
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #4B5D68;
}
.jeny-list{
  display: flex;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  width: 400px;
  height: 330px;
  margin-right: 20px;
  margin-bottom: 60px;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #945be4;
  box-shadow:  #945be4 0px 20px 0px;
  padding: 30px;
}
.jeny{
  width: 180px;
  margin-right: 70px;
  margin-bottom: 50px;
  margin-left: 30px;
}
.jeny h3{
  width: 170px;
  font-weight: 900;
  font-size: 18px;
  line-height: 29px;
  color: #212353;
}
.jeny-web{
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: #9C69E2;
}
.jeny p{
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #4B5D68;
}

.watson-list{
  display: flex;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  width: 400px;
  height: 330px;
  margin-bottom: 60px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #945be4;
  box-shadow:#dddae0 0px 20px 0px;
  padding: 30px;
}
.watson{
  width: 180px;
  margin-right: 70px;
  margin-bottom: 50px;
  margin-left: 30px;
}
.watson h3{
  width: 170px;
  font-weight: 900;
  font-size: 18px;
  line-height: 29px;
  color: #212353;
}
.watson-web{
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: #9C69E2;
}
.watson p{
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #4B5D68;
}
.element{
  display: flex;
  justify-content: space-between;
  width: 55px;
  height: 10px;
  margin-right: 970px;
  margin-bottom: 60px;
  margin-left: 93px;
  list-style: none;
  padding: 0px;

}
.element li{
  margin-right: 10px;
  padding: 0px;
  font-size: 12px;
}
.element li button{
  border: #fff;
  border-radius: 50%;
  color: #fff;
}
.button-typy{
  background-color:  #F063B8;;
  color:  #F063B8;
  margin-right: 10px;
}
.vector{
  display: flex;
  align-items: center;
  margin-left: 800px;
  margin-right: 66px;
}
.vector img{
  margin-right: 20px;
}
.border{
  width: 1600px;
  border-top: 2px solid #9C69E2;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 3px 5px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.sixth{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-top: 100px;
  margin-left:240px;
  margin-bottom: 153px;
}
.sixth-p{
  display: flex;
  flex-wrap: wrap;
  width: 405px;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #212353;
}
.sixth-p span{
  width: 504px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4B5D68;
  margin-top: 20px;
}
.sixth-link{
  text-decoration: none;
  text-align: center;
  width: 160px;
  padding: 10px;
  margin-left: auto;
  margin-right: 30px;
  background: #F063B8;
  border-radius: 50px;
  font-weight: 900;
  font-size: 18px;
  line-height: 29px;
  color: #fff;
  transition:  background-color 0.3s ease ;
}
.sixth-link:hover{
  background-color:#9C69E2;
}
.sixth-link-second{
  display: flex;
  text-align: start;
  width: 210px;
  margin-right: 230px;
  margin-left: 0px;
  padding: 10px;
  text-decoration: none;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 50px;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #212353;
  transition:  background-color 0.3s ease,color 0.3s ease;
}
.sixth-link-second:hover{
  background-color:#9C69E2;
  color: #ffffff;
}
.footer{
  display: flex;
  align-items: flex-start;
  width: 1117px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}
.footer-first-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 335px;
  margin-right: 140px;
}
.name{
  margin-left: 20px;
  font-weight: 900;
  font-size: 20px;
  line-height: 32px;
  color: #212353;
}
.footer-p-one{
  margin-top: 67px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  color: #212353;
}
.info{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  color: #212353;
  margin-bottom: 118px;
}
.footer-second-list{
  display: flex;
  margin-right: 50px;
  margin-left: 0px;
  width: 332px;
}
.second-list-row{
  list-style: none;
  margin-right: 150px;
}
.row-heder{
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #212353;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.row-link{
  text-decoration: none;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #212353;
}
.apps{
  margin-left: 20px;
}
.apps-h2{
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #212353;
}
.apps-link{
  margin-right: 14px;
}
.coment-list{
  display: flex;
  align-items: center;
}
.number{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #212353;
  margin-right: 680px;
  width: 360px;
}
